<div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="index-card-car-brand"> <%= @car.brand %> </div>
  <div class="index-card-car-price">
    <h2> <%= @car.price %> </h2>
  </div>
  <div class="index-card-description">
    <p> car.description</p>
  </div>
  <img class="index-card-car-photo" src="https://static.ferrarinetwork.ferrari.com/images/ferrari-488-pista-piloti-ferrari-2018-GATE-2_IFtAxpo9.jpg">
  <a class="index-card-link" href="cars#id" ></a>
</div>
