<div class="navbar-wagon" id="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://images-platform.99static.com/2UAbxG_oks6_8WAmNTIj8UttZ6I=/fit-in/900x675/99designs-contests-attachments/7/7123/attachment_7123946" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="http://localhost:3000/cars" class="navbar-wagon-item navbar-wagon-link">Cars</a>
    <a href="http://localhost:3000/cars/new" class="navbar-wagon-item navbar-wagon-link">Offer a car</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/c49aikeo5oasrl2nxrwt.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
        </ul>
      </div>
    </div>
  </div>
