// Specific CSS for your home-page

.home {

  text-align: center;
}
.btn{
  background-color: transparent;
    border-radius: 5px;
}

.btn:hover {
  color: lightgrey;
}


.banner {
  color: white;
  text-align: center;
  height: 89vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 21px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

