// Specific CSS for your home-page

.home {
  text-align: center;
}
.buttom_banner{
  background-color: transparent;
    border-radius: 5px;
}

.buttom_banner:hover {
  color: lightgrey;
}


.banner {
  color: white;
  text-align: center;
  height: 89vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 21px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.search_form{
  border: none;
  color:white;

}

.ersten{
  background-color:transparent;
  border: 1px solid white;
  border-radius:8px;
  color:white;
  padding-top: 5px;
  padding-bottom:5px;
  padding-right: 5px;
  padding-left: 5px;
  margin:5px;
}


.btn-treehouse {
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  font-weight: bold;
  background: transparent;
  transition: background 0.3s ease;
  margin: 10px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom:5px;

}
.btn-treehouse:hover {
  opacity: 1;
  background: whitesmoke;
  text-decoration: none;
  color: grey;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.search-form input[type="text"] {
      -webkit-box-shadow: none;
      outline: -webkit-focus-ring-color auto 0px;
      border-color: white;
}
