<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "car.jpg" %>');">
  <div class="banner-content">
    <h1 class="classic_font">Welcome to Classical <br> car rental</h1>
    <p class="classic_font">established 2018</p>
      <div class= "home">
        <!-- Search form -->
        <div class = "search_form">
          <input type="text" placeholder="Date" class="ersten">
          <input type="text" placeholder="location" class="ersten">
          <input type="text" placeholder="type of car" class ="ersten">
           <%= link_to "Search", cars_path, class: "btn btn-treehouse" %>
        </div>
      </div>
  </div>
</div>

<%= form_tag cars_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a car"
  %>
<% end %>



