.small_container{
 border: 1px solid white;
 border-radius: 14px;
 background-color: rgba(0, 0, 0, 0.2);
}

.view_new{
display: flex;
justify-content: space-around;

}

.input_field{
   padding: 55px;
}

.users_input{
margin-top: -27px;
}
.page_new{
margin-top: -5px;
}

.banner{
height: 726px;
}

.text_beneath_banner{
margin-top:50px;
width: 800px;
height: 183px;
text-align: center;
justify-content: space-around;
}

.beneath_banner_flex{
display: flex;
justify-content: space-around;
width: 600px;
}

.beneath_banner_flexbox{
 display: flex;
 justify-content: space-around;
}
.sign_banner {
    color: white;
    height: 89vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
}

#knopf {
    margin-left: 0px;
}
