.flexbox{
 border: 1px solid black;
 width: 600px;
 height: 583px;
 margin-top: 50px;
}

.view_new{
 display: flex;
 justify-content: space-around;
}

.input_field{
     padding: 73px;
}
.page_new{
 margin-top: 30px;
}
