<div>
  <div>
    <h1> Your results </h1>
  </div>
  <% @cars.each do |car| %>
   <%= link_to car_path(car) do %>
    <div class="index-card">
        <h4 class="index-card-car-brand">
          <%= link_to car.brand, car_path(car) %>
        </h4>
        <h4 class="index-card-car-price">
          <%= car.price %> €
        </h4>
        <ul>
          <p class="index-card-car-refuel">
            <i class="fas fa-gas-pump"></i>
            Fair refuel
          </p>
          <p class="index-card-car-insurance">
            <i class="fas fa-check"></i>
            Good insurance
          </p>
        </ul>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
