<div>
  <div>
    <div class="banner_index" style="background-image: linear-gradient(-150deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0) 1%), url('<%= image_path "car3.jpg" %>'); background-position:  58% 60%">
  </div>
  <% @cars.each do |car| %>
   <%= link_to car_path(car) do %>
    <div class="index-card">
      <div>
        <img src="" class="index-card-car-photo">
        <h4 class="index-card-car-brand">
          <%= link_to car.brand, car_path(car) %>
        </h4>
        <h4 class="index-card-car-price">
          <%= car.price %> €
        </h4>
        <ul>
          <p class="index-card-car-refuel">
            Fair refuel
          </p>
          <p class="index-card-car-insurance">
            <i class="fas fa-shield-check"></i>
            Good insurance
          </p>
        </ul>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
