.signup-small_container{
 border: 1px solid white;
 border-radius: 14px;
 background-color: rgba(0, 0, 0, 0.2);
 margin-top: 150px;
}

.view_signup{
display: flex;
justify-content: space-around;

}

.signup-input_field{
   padding: 55px;
}

.signup_input{
margin-top: -27px;
color: white;
}
.signup_page_new{
margin-top: -5px;
}

.signup_banner{
height: 950px;
}
