.page-container {
}
.signup_container {
 display: flex;
 justify-content:space-around;
 height: 600px;
 width: 500px;
 background-color: whitesmoke;
 border: 1px solid white;
 margin-left:700px;
 margin-right:800px;
}
.email-input {
  margin-bottom: 20px;
  margin-top: 100px;
  margin-right: 25%;
  height: 80px;
  width: 100%;
  text-align: left;
  color: white;
  box-shadow: none;

}
.password-input {
margin-top: 40px;
margin-right: 25%;
height: 80px;
width: 100%;
color: white;
box-shadow: none;
}
.password_confirmation {
margin-top: 40px;
margin-right: 25%;
height: 80px;
width: 100%;
color: white;
box-shadow: none;
}
.signup_button {

 border: 1px solid white;
 opacity: 0.5;
 width: 25%;
justify: space-around;
 color: white;
 background-color: black;
 }
