.page-container {
  display: flex;
  justify-content: space-around;
}
.signup_container {
 display: flex;
 margin-top: 50px;
 align-content: center;
 justify-content:space-around;
 height: 600px;
 width: 500px;
 background-color: transparent;
 border: 1px solid white;
 border-radius: 20px;
}
.email-input {
  margin-bottom: 20px;
  margin-top: 100px;
  margin-right: 25%;
  align-content: space-around;
  height: 80px;
  width: 100%;
  text-align: left;
  color: white;
  box-shadow: none;

}
.password-input {
align-content: space-around;
height: 80px;
width: 100%;
color: white;
box-shadow: none;
}
.password_confirmation {
margin-top: 40px;
margin-right: 25%;
height: 80px;
width: 100%;
color: white;
box-shadow: none;
}
.signup_button {

 border: 1px solid white;
 opacity: 0.2;
 width: 25%;
 align-content: space-around;
 background-color: red;
 text-align: center;
 }
.sign_up_header {
  text-align: center;
  color: white;
}
